# 서울시 상권분석 시스템<br>

## 변수 리스트

Estimated_Revenue : 상권_추정매출_피벗테이블.csv<br>
Estimated_Population : 상권_추정유동인구.csv<br>
User_Input : 사용자로부터 입력받은 서비스업종<br>

## <br>라이브러리

In [9]:
import numpy as np
import pandas as pd
import matplotlib as plt

## <br>입력 데이터

In [2]:
sales = pd.read_csv(r'C:\Users\jayts\OneDrive\바탕 화면\hustar\프로젝트\작업 엑셀_최종\필요한 데이터만\상권_추정매출_피벗테이블.csv')
population = pd.read_csv(r'C:\Users\jayts\OneDrive\바탕 화면\hustar\프로젝트\작업 엑셀_최종\필요한 데이터만\상권_추정유동인구.csv')
week = pd.read_csv(r'C:\Users\jayts\OneDrive\바탕 화면\hustar\프로젝트\작업 엑셀_최종\필요한 데이터만\상권_추정매출_시간요일.csv')

In [3]:
sales.head()

,행 레이블,평균 : 당월_매출_금액,평균 : 당월_매출_건수,평균 : 남성_매출_비율,평균 : 여성_매출_비율,평균 : 연령대_10_매출_비율,평균 : 연령대_20_매출_비율,평균 : 연령대_30_매출_비율,평균 : 연령대_40_매출_비율,평균 : 연령대_50_매출_비율,평균 : 연령대_60_이상_매출_비율
0,1000001,"₩219,974,888",12945.2,42.8,57.2,3.8,27.4,27.8,18.6,15.0,7.7
1,CS100001,"₩400,141,122",17647.3,51.3,49.0,2.3,32.3,30.8,16.0,12.8,6.3
2,CS100002,"₩34,508,687",1927.5,44.3,55.8,15.0,26.8,18.3,24.0,11.5,4.5
3,CS100003,"₩53,880,333",1356.8,47.3,52.8,0.0,12.8,30.0,21.0,26.3,10.0
4,CS100004,"₩187,411,595",4246.0,34.5,65.5,0.8,32.8,35.5,13.8,12.0,5.8

In [4]:
population.head()

,행 레이블,평균 : 총_유동인구_수,평균 : 남성_유동인구_수,평균 : 여성_유동인구_수,평균 : 연령대_10_유동인구_수,평균 : 연령대_20_유동인구_수,평균 : 연령대_30_유동인구_수,평균 : 연령대_40_유동인구_수,평균 : 연령대_50_유동인구_수,평균 : 연령대_60_이상_유동인구_수,상권_변화_지표
0,1000001,"311,921","158,176","153,746","35,122","44,346","60,963","64,042","47,095","60,355",LH
1,1000002,"359,732","183,454","176,279","18,541","65,579","66,677","60,140","60,814","87,982",HL
2,1000003,"173,017","96,346","76,671","9,846","33,191","35,240","32,263","27,170","35,307",HH
3,1000004,"649,072","316,093","332,981","80,968","249,246","65,338","70,927","60,230","122,364",LH
4,1000005,"174,041","81,611","92,430","23,306","22,726","20,816","30,906","28,126","48,161",LL

In [6]:
week.head()

,상권_코드,서비스_업종_코드,당월_매출_금액,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,토요일_매출_비율,일요일_매출_비율,...,시간대_17~21_매출_비율,시간대_21~24_매출_비율,남성_매출_비율,여성_매출_비율,연령대_10_매출_비율,연령대_20_매출_비율,연령대_30_매출_비율,연령대_40_매출_비율,연령대_50_매출_비율,연령대_60_이상_매출_비율
0,1000001,CS100001,338244981,13,11,13,16,16,20,11,...,31,3,54,46,3,36,29,13,11,8
1,1000001,CS100001,391007320,13,16,15,16,20,12,9,...,38,2,51,49,2,30,35,19,11,4
2,1000001,CS100001,439869732,13,15,16,18,15,13,11,...,35,2,51,50,2,32,28,16,16,6
3,1000001,CS100001,431442455,13,15,16,17,18,11,10,...,36,2,49,51,2,31,31,16,13,7
4,1000001,CS100002,38378106,17,12,19,14,15,10,13,...,26,0,44,56,18,25,18,23,12,3

## <br>서비스업종 입력

In [7]:
Service_List = ["한식음식점", "중식음식점", "일식음식점", "양식음식점", "제과점", "패스트푸드점", "치킨전문점", "분식전문점", "호프-간이주점", "커피-음료"]
Service_List

['한식음식점',
 '중식음식점',
 '일식음식점',
 '양식음식점',
 '제과점',
 '패스트푸드점',
 '치킨전문점',
 '분식전문점',
 '호프-간이주점',
 '커피-음료']

In [8]:
UserInput = input("업종을 선택하세요 :")

업종을 선택하세요 : 치킨전문점

#### <br>해당 업종에서 추정매출 상위 1% 혹은 상위 10개 지역에 해당하는 상권 출력

#### <br>틈새시장(선택한 서비스업종이 없는 지역) 중 추정매출, 유동인구 상위 1% 혹은 상위 10개 지역 출력

## <br>상권 입력 (임시, 나중에 지도 클릭하는 형태로 변경)

In [12]:
print('1이상 1496이하')
locate = input()

1이상 1496이하

 848

#### <br>성별 매출비율

#### <br>연령별 매출비율

#### <br>인구 데이터

###### 유동인구(전체 데이터 중 상위 몇프로? 출력)

###### <br>직장인구(전체 데이터 중 상위 몇프로? 출력)

###### <br>상주인구(전체 데이터 중 상위 몇프로? 출력)

## <br>시간대별 매출

## <br>요일별 매출